// Colors
$body-background: #FFFFFF;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$mxl-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 4.0rem;
$desktop-breakpoint: 45rem;
$table-element-padding: 1rem 1rem 1rem 1rem;
